@font-face {
  font-family: "Inter";
  src: url("../assets/fonts/Inter-Light.ttf");
  font-style: normal;
  font-weight: 100;
}
@font-face {
  font-family: "Inter";
  src: url("../assets/fonts/Inter-Regular.ttf");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Inter";
  src: url("../assets/fonts/Inter-Bold.ttf");
  font-style: normal;
  font-weight: 500;
}
@font-face {
  font-family: "Inter";
  src: url("../assets/fonts/Inter-Black.ttf");
  font-style: normal;
  font-weight: bold;
}

body {
  @apply dark:bg-slate-700;
}

#app {
  font-family: "Inter";
  @apply text-gray-500 dark:text-gray-300 transition-all duration-200 h-screen;
}

.full-center {
  @apply flex justify-center items-center;
}

.transitions {
  @apply transition-all duration-200;
}

.btn-link {
  @apply bg-gray-100 text-center mt-2 p-2 rounded-lg hover:bg-gray-200 dark:bg-slate-800 dark:text-gray-100 dark:hover:bg-slate-700;
}

.custom-link {
  @apply font-medium text-blue-500 hover:text-blue-800 transition duration-300;
}
